.no-scroll {
    overflow: hidden;
}
.mobile-menu a {
  opacity: 0;
  transition-delay: .6s;
  -webkit-transform: translate3d(0,-1rem,0);
  transform: translate3d(0,-1rem,0);
  -webkit-transition: opacity .5s ease .6s,-webkit-transform 1s ease .7s;
  -o-transition: opacity .5s ease .6s,transform 1s ease .7s;
  transition: opacity .5s ease .6s,transform 1s ease .7s;
  transition: opacity .5s ease .6s,transform 1s ease .7s,-webkit-transform 1s ease .7s;
}
.no-scroll .mobile-menu a {
  opacity: 1;
  transition-delay: .6s;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transition: opacity .5s ease .6s,-webkit-transform 1s ease .7s;
  -o-transition: opacity .5s ease .6s,transform 1s ease .7s;
  transition: opacity .5s ease .6s,transform 1s ease .7s;
  transition: opacity .5s ease .6s,transform 1s ease .7s,-webkit-transform 1s ease .7s;
}
