#projects .react-loading-skeleton {
    height: 445px;
    width: 350px;
    border-radius: 1rem;
}
@media only screen and (min-width: 576px) {
    #projects .react-loading-skeleton {
        height: 585px;
        width: 460px;
    }  
}
